.field {
    cursor: pointer;
    border: 6px solid var(--border);
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.field:hover {
    background-color: var(--hover);
}