.App {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bgc);
}

.btnRst {
    border: 4px solid #2c3e50;
    background-color: #34495e;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color .2s;
}

.btnRst:hover {
    background-color: #445F7A;
}

.confirmBtn {
    margin-left: 7px;
}

.cancelBtn {
    margin-right: 7px;
}