/* Blue Theme: */
:root {
    --bgc: #2367ac;
    --hover: #4981b9;
    --border: #0c59a7;
    --text-color: white;
}

/* 
    Black Theme {
        --bgc: #123;
        --hover: #0b345d;
        --border: #25323f;
        --player: white;
    }
*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
